* { margin:0; padding:0; box-sizing:border-box; }

body {
  font-family:'Playfair Display';
  background:#0d0d0d;
  color:#f5f5f5;
}

header {
  position:fixed;
  top:0;
  width:100%;
  padding:20px 60px;
  display:flex;
  justify-content:space-between;
  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(10px);
  z-index:1000;
}

nav a {
  margin-left:30px;
  color:#ccc;
}

.btn-contato {
  background:linear-gradient(135deg,#ff7a00,#ffae42);
  padding:8px 18px;
  border-radius:20px;
  cursor:pointer;
}

/* GALERIA */
.galeria-preview {
  margin-top:80px;
  height:600px;
  overflow:hidden;
  position:relative;

}

.linha {
  display:flex;
  width:max-content;
  gap:25px;
  margin:30px 0;
}

.linha img {
  height:160px;
  width:auto;
  object-fit:contain;
  border-radius:12px;
  background:#111;
  padding:6px;
}

@keyframes esquerda {
  from { transform:translateX(0); }
  to { transform:translateX(-50%); }
}

@keyframes direita {
  from { transform:translateX(-50%); }
  to { transform:translateX(0); }
}

.linha1 { animation:esquerda 40s linear infinite; }
.linha2 { animation:direita 50s linear infinite; }
.linha3 { animation:esquerda 60s linear infinite; }

.btn-galeria {
  position:absolute;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  padding:12px 30px;
  background:linear-gradient(135deg,#ff7a00,#ffae42);
  border:none;
  border-radius:30px;
  color:white;
  cursor:pointer;
}

/* FRASES */
.frases { text-align:center; padding:80px; }
.frases p { font-size:34px; }

/* SOBRE */
.sobre { display:flex; gap:60px; padding:80px; }
.sobre img { width:250px; border-radius:20px; }

/* MODAL */
.modal {
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.8);
}

.modal-content {
  background:#1a1a1a;
  padding:25px;
  width:320px;
  margin:120px auto;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  gap:10px;
  position:relative;
}

.fechar {
  position:absolute;
  right:10px;
  top:5px;
  cursor:pointer;
}

/* GALERIA FULL */
.galeria-full {
  width:90%;
  max-width:1000px;
}

#listaProjetos {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
  gap:20px;
}

.card-projeto {
  position:relative;
}

.card-projeto img {
  width:100%;
  border-radius:10px;
}

.card-projeto span {
  position:absolute;
  bottom:0;
  width:100%;
  padding:10px;
  color:white;
  background:linear-gradient(transparent, rgba(0,0,0,0.8));
}
